[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
copyleaks = "*"
requests = "*"
python-dateutil = "*"
pycode-similar = "*"

[dev-packages]

[requires]
python_version = "3.7"
